<!DOCTYPE html>
<html>
<head>
    <title>canvas示例</title>
</head>
<body bgcolor="#bbbbbb" text='#ffffff'>
    <center>
        <h1>canvas示例</h1>
    </center>

    <div>
        <canvas id="mc" width="120" height="80" style="border:1px solid black"></canvas>
        <script type="text/javascript">
            var canvas = document.getElementById('mc');
            var ctx = canvas.getContext('2d');
            ctx.fillStyle = '#f00';
            ctx.fillRect(30,40,80,100);
        </script>
    </div>

    <div>
        绘制圆
        <canvas id="mc1" width="120" height="80" style="border:1px solid blue"></canvas>
        <script type="text/javascript">
            var canvas = document.getElementById('mc1');
            var ctx = canvas.getContext('2d');
            ctx.fillStyle = '#00f';
            ctx.arc(60, 40, 30, 0, 2*Math.PI);
            ctx.stroke();
        </script>
    </div>

</body>
</html>