<!DOCTYPE html>
<html>
<head>
    <title>input示例</title>
    <base href="http://study.taotaole.local" />
</head>
<body bgcolor="#bbbbbb" text='#ffffff'>
    <center>
        <h1>input示例</h1>
    </center>

    <div>
        <form action="site/show" method="get">
            单行文本: <input id="username" name="username" type="text"></input><br>
            不能编辑的文本：<input id="username2" name="username2" type="text" readonly="readonly" value="readonly"></input><br>
            密码框：<input id="password" name="password" type="password"></input><br>
            隐藏域：<input id="hide" name="hide" type="hidden"></input><br>
            颜色选择单选框
            <input id="color1" name="color" type="radio" value="green"></input>
            <input id="color2" name="color" type="radio" value="blue"></input>
            <input id="color3" name="color" type="radio" value="red"></input><br>
            复选框：
            <input id="website1" name="website1" type="checkbox" value="red" />
            <input id="website2" name="website2" type="checkbox" value="green" /><br />

            图像域：<input type="image" src="/images/hehua.jpg" alt="荷花"/><br />

            提交按钮：
            <input id="ok" name="ok" type="submit" value="提交" />
            <input id="dis" name="dis" type="submit" value="提交"disabled="disabled" />
            <input id="cancel" name="cancel" type="reset" value="重填"/>
            <input id="no" name="no" type="button" value="无动作" />
        </form>

        <hr>
        <div>
            <form action="site/show" method="get">
                <select id="pos" name="pos">
                    <option value="one">one</option>
                    <option value="two">two</option>
                    <option value="three">three</option>
                </select>
                <label for="first">单行文本框：</label>
                <input id="first" type="text" name="first">
                <input id="ok" type="submit" name="ok" value="提交">
            </form>
        </div>

        <hr>
        <div>
            <form action="site/show" method="get">
                <label for="first">单行文本框1：</label>
                <input id="first" type="text" name="first" required/><br>
                <label for="second">单行文本框2：</label>
                <input id="second" type="number" name="second" min="10" max="100" />
                <button type="submit"><b>提交</b></button><br>
                <button type="submit"><img src="/images/hehua.jpg" alt="提交" title="提交1"></button>
            </form>
        </div>

        <hr>
        <div>
            <form action="site/show" method="post">
                <input name="_csrf" type="hidden" id="_csrf" value="<?= Yii::$app->request->csrfToken ?>">
                <input id="first" type="text" name="first">
               <!--  <textarea id="describe" name="describe"></textarea> -->
                <input id="ok" type="submit" name="ok" value="提交">
            </form>
        </div>

        <hr>
        <div>
            <div>
                <input id="first" name="first" type="text" form="out">
            </div>
            <div>
                <form id="out">
                    <input id="second" name="second" type="text">
                    <input id="ok" name="ok" type="submit" value="注册" formaction="site/show" formmethod="get">
                    <input id="ok" name="ok" type="submit" value="修改" formaction="site/show" formmethod="post">
                </form>
            </div>
        </div>

        <hr>
        <div>
            <form id="other" action="site/show" method="get">
                颜色选择：<input id="color" name="color" type="color"><br>
                日期选择：<input id="date" name="date" type="date"><br>
                时间选择: <input id="time" name="time" type="time"><br>
                UTC时间：<input id="utc" name="utc" type="datetime"><br>
                <input id="ok" name="ok" type="submit" value="提交"><br>
            </form>
        </div>
    </div>

</body>
</html>