<!DOCTYPE html>
<html>
<head>
    <title>link示例</title>
</head>
<body bgcolor="#bbbbbb" text='#ffffff'>
    <center>
        <h1>link示例</h1>
    </center>

    <a href="http:\\www.baidu.com">百度</a><br><br>
    <a href="http:\\www.baidu.com" target="_black">在新标签中百度</a><br><br>
    <a href="http:\\www.baidu.com" target="_black"><img src="/images/hehua.jpg" alt="荷花" title="百度"></a><br><br>
    <a href="#one">链接到当前位置的锚点</a><br><br>
    <a href="http://baike.baidu.com/subview/830470/8713220.htm#5">链接到其他位置的锚点</a><br><br>

</body>
</html>