<!DOCTYPE html>
<html>
<head>
    <title>table示例</title>
</head>
<body bgcolor="#bbbbbb" text='#ffffff'>
    <center>
        <h1>table示例</h1>
    </center>

    <!-- 无序列表 -->
    <ul>
        <li>第一季</li>
        <li>第二季</li>
        <li>第三季</li>
    </ul>

    <!-- 有序列表 -->
    <ol start="3">
        <li>第一季</li>
        <li>第二季</li>
        <li>第三季</li>
    </ol>

        <!-- 定义列表 -->
    <dl>
        <!-- 定义标题列表项-->
        <dt>第一章</dt>
        <dd>第一节</dd>
        <dd>第二节</dd>
        <dd>第三节</dd>
        <!-- 定义标题列表项-->
        <dt>第二章</dt>
        <dd>第一节</dd>
        <dd>第二节</dd>
        <dd>第三节</dd>
    </dl>

</body>
</html>