<!DOCTYPE html>
<html>
<head>
    <title>图片插入示例</title>
</head>
<body bgcolor="#bbbbbb" text='#ffffff'>
    <center>
        <h1>图片插入示例</h1>
    </center>

    <img src="/images/hehua.jpg" border="2" alt="荷花" title="花">
    花
    <br><br>
    <img src="/images/hehua1.jpg" border="2" alt="荷花"><br><br>
    <img src="/images/hehua.jpg" border="2" alt="荷花"><br><br>
    <img src="/images/hehua.jpg" border="2" alt="荷花" height="78"><br><br>
    <img src="/images/hehua.jpg" border="2" alt="荷花" height="78" width="78"><br><br>
</body>
</html>